/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities */
*{
    font-family: sans-serif;
}
.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-start{
    display: flex;
    align-items: flex-start;
}

.fontsize25{
    font-size: 25px;
}

.img-change{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.paddingbottom10{
   padding-bottom: 10px;
}

.paddingright15{
    padding-right: 15px;
 }

.width100{
    width: 100%;
}

.linethrough{
    text-decoration: line-through;
}

.gap10{
    gap: 10px;
}
/* colors */

.redtext{
    color:red ;
}

.white{
    color: white;
}

/* header */

header{
    background-color: rgb(255,105,0);
    height: 100px;
    box-shadow: 1px 3px 3px #999;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;
    
}

.header-container{
    height: 100%;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    
}
.container{
    height: 100%;
    width: 33%;
    flex-grow: 1;
    align-items: center;
    gap: 7px;
}

header a{
    color: white;
    text-decoration: none
}

.booleanlogo{
    height: 30%;
}

/* main */

main{
    padding-top: 180px;
    padding-bottom: 50px;

}
.article{
    justify-content: center;
    gap: 30px;
    
}

.label-red{
    padding:5px 13px ;
    text-align: center;
    vertical-align: middle;
    color: white;
    position: absolute;
    left: 0;
    bottom: 160px;
    background-color: rgb(255,0,0);
    z-index: 2;
}

.label-green{
    padding:5px 8px ;
    text-align: center;
    vertical-align: middle;
    left: 68px;
    color: white;
    position: absolute;
    bottom: 160px;
    background-color: rgb(0,128,0);
    z-index: 2;
    
}


.card img{
    height: 600px;
}
.card{
    height: 700px;
    width: 418px;
    position: relative;
    padding-bottom: 38px;
  }

#lastlable{
    left:0
}

.heart{
    position: absolute;
    right: 0;
    top:10px;
    padding: 3%;
    background-color: white;
    font-size: 25px;
    z-index: 2;
}

.heart:hover{
    color: red;


    /* card hoover section */
    
}

#fittee{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.card:hover #fittee{
    display: inline;
    
}

#guess{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover #guess{
    display: inline;
    
}

#fashiongirl{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.card:hover #fashiongirl{
    display: inline;

}

#levis{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover #levis{
    display: inline;

}

#pinkdress{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover #pinkdress{
    display: inline;

}

#lastgirl{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card:hover #lastgirl{
    display: inline;

}

/* footer */

footer{
    height: 100px;
    background-color: black;
}

.footercontainer{
    width: 70%;
    height: 100%;
    margin: auto;

}

.footertext{
   
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    
}

.infosocials{
    align-items: flex-end;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
}

